
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "satoshi", sans-serif;
}

button {
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}
.noWrap {
  flex-wrap: nowrap;
}

.justifyBetween {
  justify-content: space-between;
}
.justifyEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}
.justifySelfEnd {
  justify-self: flex-end;
}
.justifySelfCenter {
  justify-self: center;
  /* border: 1px solid red; */
}

.alignCenter {
  align-items: center;
}
.alignSelfCenter {
  align-self: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.gap-1 {
  gap: 10px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-2 {
  margin-top: 15px;
}

.mb-2 {
  margin-bottom: 15px;
}