.mainContainer > .content {
    padding: 35px;
}

.avatarStatsContainer, .avatarProfileContainer {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 25px;
}

.avatarStatsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userStats {
    width: calc(100% - 140px);
}

.userStats > .stats {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: var(--lightGrey);
    border-radius: 100px;
}

.userStats > .userName {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.stats > div > h3 {
    font-size: 17px;
}

.avatar {
    width: 115px;
    height: 115px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar p {
    font-size: 42px;
    font-weight: 500;
    color: var(--black);
}

.settings {
    margin-top: 30px;
}

.settings > p {
    font-size: 14px;
    margin-bottom: 10px;
}

.settings .linkContainer {
    font-size: 17;
    padding: 15px 0;
}

.settings .link {
    color: #000;
}

.headerTitle {
    font-size: 21px;
    font-weight: 700;
}

.settingHeader {
    position: relative;
    margin-bottom: 30px;
}

.settingHeader .arrow-back {
    position: absolute;
    top: -2px;
    left: 0;
    cursor: pointer;
}


.uploadBtn {
    padding: 14px 16px;
    border: 2px solid #E8E8E8;
    border-radius: 8px;
    margin: 15px 0;
    background-color: transparent;
    margin-top: 15px;
    font-weight: 500;
}

.uploadText {
    font-size: 14px;
}

.profileForm {
    margin-top: 30px;
}

.profileForm > .flexRow .inputContainer {
    width: 50%;
}

.profileForm > .flexRow {
    gap: 15px;
}



/* 2FA */
.tFaModal .tFaContent {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.modalQRContainer {
    width: 100px;
    /* height: 100px; */
}

.modalQRContainer img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: contain; */
}



/* beneficiaries */
.deleteTitle {
    font-size: 27px;
    font-weight: 700;
}

.deleteSubtitle {
    font-size: 17px;
    font-weight: 500;
}

.deleteIllustration {
    width: 60%;
}

.switchTabs {
    width: 50%;
    margin: auto;
    background-color: var(--lightGrey);
    border-radius: 30px;
}

@media screen and (max-width: 763px) {
    .avatarStatsContainer {
        flex-direction: column;
    }

    .userStats > .userName {
        text-align: center;
        margin-top: 10px;
    }

    .userStats {
        width: 100%;
    }

    .mainContainer > .content {
        padding: 35px 15px;
    }

    .userStats > .stats {
        padding: 16px 18px;
    }
}


@media screen and (max-width: 550px) {
    .tFaContent {
        flex-direction: column-reverse;
    }

    .modalQRContainer {
        margin-bottom: 10px;
    }

    .deleteTitle {
        font-size: 20px;
    }

    .deleteSubtitle {
        font-size: 14px;
    }
}