.customButton {
  border-radius: 8px;
  height: 48px;
}

.swiper-btn {
  border: none;
  border-radius: 30px;
  padding: 7px 20px !important;
  font-weight: 500;
}

.accordion {
  /* border: 1px solid #ccc; */
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 1000px; /* Set a maximum height to accommodate the expanded content */
}

.accordion.expanded {
  max-height: none; /* Allow the content to expand to its natural height */
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
}

.accordion-title {
  margin: 0;
}

.accordion-content {
  padding: 10px;
}

.inputContainer {
  margin-bottom: 16px;
  height: auto;
}
.input {
  border: 1px solid #ebebeb;
  /* background-color: inherit; */
  border-radius: 8px;
  padding: 0 16px;
  outline: none;
  /* margin: 8px 0 16px 0; */
  /* width: 100%; */
  height: 48px;
  margin-top: 5px;
}
.input input {
  border: none;
  height: 90%;
  outline: none;
  width: 100%;
}
.inputContainer button {
  background: inherit;
  border: none;
}

/* Loader  */

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.otp-group {
  display: flex;
  width: 100%;
  max-width: 360px;
  column-gap: 16px;
  margin: auto;
}

.otp-input {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  height: 48px;
  background: #e8e8e8;
  border-radius: 8px;
  font-family: "Nunito";
  border: none;
  outline: #000000;
}
.otp-input:focus {
  border: 1px solid #000;
}

.wClass {
  height: 120px;
  padding: 0;
}

.lClass {
  font-size: 12px;
  font-family: "Satoshi", sans-serif;
  width: 100px;
}
.prClass {
  /* border: 1px solid red; */
  display: none;
}
.sbtClass {
  /* border: 1px solid red; */
  display: none;
}
.nbClass {
  border: 1px solid red;
  display: none;
}
.sbClass {
  border: 1px solid red;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border-radius: 16px;
  width: 480px;
  min-height: 531px;
  z-index: 501;
  animation: slideUp .3s ease-in-out;
}

.modal-content {
  padding: 24px;
  padding-top: 0;
  text-align: center;
}